* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 400px;
  background-color: #F8F8E1;
  border-radius: 8px;
  overflow: hidden; /*biar gabisa di scroll*/
}

.display {
  background-color: #FFF7F3;
  height: 100px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 30px;
  position: relative;
  border: 1px solid #FFC1DA;
}

.display-history {
  opacity: 0.4;
  font-size: 20px;
}

.temporary-result {
  position: absolute; /*mirip text-align */
  left: 10px;
  bottom: 0;
  font-size: 20px;
  opacity: 0.4;
}

.all_button {
  color: black;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr); /*4 baris, 1 kolom*/
}

.btn-0 {
    grid-column: 1 / 3; /*menggabungkan 2 kolom*/
    text-align: center;
}

.button {
    border: 0.5px solid #FFC1DA;
    display: inline-block;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}

.button:hover {
    background-color: #FFC6C6;
}

.operation, .clear-all, .equal, .last-entity {
    background-color: #FF90BB;
}

.equal{
  border-radius: 100%;
}